
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>This application was created by <a href="http://github.com/mikeghen/">Michael Ghen</a> and it is designed to be used as a teaching aid for a Data Engineering course.</p>
      <p>The application is designed to mirror the early version of NetFlix.</p>
      <p>A very minimalistic set of features is implemented because only the data is of interest.</p>
    </div>
</div>
{% endblock %}
