
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>BlockFlix</h1>

  <p>Unlimited movie rentals, delivered to your door!</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>10k Titles</h2>
      <p>New releases, classics, top rated films</p>
      <p><a class="btn btn-default" href="/register">Get Started &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Fast and free shipping </h2>
      <p>Movies delivered to your door with prepaid return envelops</p>
      <p><a href="/register" class="btn btn-default">Get Started &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Get started now!</h2>
      <p>Start your free trial now</p>
      <p><a href="/register" class="btn btn-default">Get Started &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
