option_settings:
- namespace: aws:elasticbeanstalk:container:python
  option_name: WSGIPath
  value: autoapp.py
container_commands:
  01_migrate:
    command: "LC_ALL=en_US.utf8 LANG=en_US.utf8 FLASK_APP=/opt/python/ondeck/app/autoapp.py flask db upgrade"
  02_seed:
    command: "LC_ALL=en_US.utf8 LANG=en_US.utf8 FLASK_APP=/opt/python/ondeck/app/autoapp.py flask seed"
